@* index Template File *@
@import models.AppConfiguration._
@import models.Booking
@import helper._

@(bookings: Seq[Booking])

@contextualStatus(status: models.Booking.Status.Status) = @{
    status match {
       case models.Booking.Status.SUCCESSFULLY_BOOKED => "success"
       case models.Booking.Status.SUBMITTED | models.Booking.Status.SCHEDULED => ""
       case _ => "warning"
    }
}

@displayBooking(booking: models.Booking) = {
    <tr class="@contextualStatus(booking.status)">
        <td>@booking.status</td>
        <td>@DateTimeFormatter.print(booking.creationDate)</td>
        <td>@DateTimeFormatter.print(booking.lastModified)</td>
        <td>@DateFormatter.print(booking.date)</td>
        <td>@HourFormatter.print(booking.time)</td>
        <td>@booking.court</td>
        <td><a href="@routes.BookingsController.show(booking.id)">Details</a></td>
    </tr>
}

@main("Bookings") {
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Bookings List</h2>
    </div>
    <div class="panel-body">
    	<div class="table-responsive">
	    	<table class="table table-striped">
	            <thead>
	                <tr>
	                    <th>Status</th>
                        <th>Creation date</th>
                        <th>Last modified</th>
	                    <th>Date</th>
	                    <th>Time</th>
	                    <th>Court</th>
	                    <th>Actions</th>
	                </tr>
	            </thead>
	            <tbody>
	                @for(booking <- bookings) {
	                    @displayBooking(booking)
	                }
	            </tbody>
	        </table>
    	</div>
        <a href="@routes.BookingsController.newForm()">New</a>
    </div>
</div>
}
