@* index Template File *@
@import models.Booking
@import helper._

@(bookings: Seq[Booking])

@delete(id: Long) = {
    @form(action = routes.BookingsController.delete(id), 'id -> s"delete_$id") {
        <input type="hidden" name="id" value="@id" />
    }
    <a href="#" onclick="$('#delete_@id').submit();">Delete</a>
}

@main("Bookings") {
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Bookings List</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for(booking <- bookings) {
                <tr>
                    <td>@booking.status</td>
                    <td>@booking.dateTime</td>
                    <td>@delete(booking.id)</td>
                </tr>
                }
            </tbody>
        </table>

        <a href="@routes.BookingsController.newForm()">New</a>
    </div>
</div>
}
