@* index Template File *@
@import models.Booking
@import helper._

@(bookings: Seq[Booking])

@delete(id: Long) = {
    @form(action = routes.BookingsController.delete(id), 'id -> s"delete_$id") {
        <input type="hidden" name="id" value="@id" />
    }
    <a href="#" onclick="$('#delete_@id').submit();">Delete</a>
}

@contextualStatus(status: models.Booking.Status.Status) = @{
    status match {
       case models.Booking.Status.SUCCESSFULLY_BOOKED => "success"
       case models.Booking.Status.NEW | models.Booking.Status.SCHEDULED => ""
       case _ => "warning"
    }
}

@displayBooking(booking: models.Booking) = {
    <tr class="@contextualStatus(booking.status)">
        <td>@booking.status</td>
        <td>@booking.date</td>
        <td>@booking.time</td>
        <td>@booking.court</td>
        <td>@delete(booking.id)</td>
    </tr>
}

@main("Bookings") {
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Bookings List</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Court</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for(booking <- bookings) {
                    @displayBooking(booking)
                }
            </tbody>
        </table>

        <a href="@routes.BookingsController.newForm()">New</a>
    </div>
</div>
}
