@* show Template File *@
@import models.AppConfiguration._
@import models.db.Booking
@import models.db.Comment
@import helper._

@(booking: Booking, comments: Seq[Comment])

@displayComment(comment: Comment) = {
    <tr>
        <td>@DateTimeFormatter.print(comment.creationDate)</td>
        <td>@comment.text</td>
    </tr>
}

@main("Bookings") {
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Booking Details</h2>
    </div>
    <div class="panel-body">
        <div>
            <dl class="dl-horizontal">
                <dt>Status:</dt>
                <dd>@booking.status</dd>
                <dt>Creation date:</dt>
                <dd>@DateTimeFormatter.print(booking.creationDate)</dd>
                <dt>Last modified:</dt>
                <dd>@DateTimeFormatter.print(booking.lastModified)</dd>
                <dt>Date:</dt>
                <dd>@DateFormatter.print(booking.date)</dd>
                <dt>Time:</dt>
                <dd>@HourFormatter.print(booking.time)</dd>
                <dt>Court:</dt>
                <dd>@booking.court</dd>
            </dl>
        </div>
    </div>
    <div class="panel-heading">
        <h2 class="panel-title">Booking Comments</h2>
    </div>
    <div class="panel-body">
    	<div class="table-responsive">
	    	<table class="table table-striped">
	            <thead>
	                <tr>
	                    <th>Creation Date</th>
	                    <th>Text</th>
	                </tr>
	            </thead>
	            <tbody>
	                @for(comment <- comments) {
	                    @displayComment(comment)
	                }
	            </tbody>
	        </table>
    	</div>
    </div>
</div>
}
